<p style="color: green"><%= notice %></p>

<h1>Home page</h1>

<% if user_signed_in? %>
  <div> Welcome
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= button_to "Sign In", new_user_session_path %>
<% end %>
  </div>
<%#= link_to "New category", new_category_path %>
