.post {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    background-color: #393F45;
    border: 1px solid #191B1E;
    padding: 24px 24px;
    box-sizing: border-box;
    width: 66.3vw;
    justify-content: space-between;
    border-radius: 16px;
}

h5, p {
    margin: 0;
}

.post__header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.post__user {
    font-size: 13px;
    color: #5C93FD;
}

.post__time {
    font-size: 13px;
}

.post__point {
    font-size: 6px;
}

.post__content {
    margin-top: 16px;
}

.post__title {
    font-size: 32px;
    font-weight: 500;
    color: #f1eaea;
}

.post__author {
    font-size: 14px;
    color: #f1ebeb;
}

.post__footer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.post__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border-radius: 12px;
    background-color: #4D545C;
    transition: 0.1s ease-in-out;
}

.post__button:hover {
    gap: 8px;
    background-color: #636D78;
}
